/* General */
:root {
    --yellow: #f4ce14;
    --light-yellow: #FEE3A2;
    --green: #495e57;
    --light: #edefee;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    background-color: var(--light);
    font-family: 'Markazi Text', serif;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}
/* Header */
header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin: 0 auto 1rem auto;
}
/* Nav bar */
nav {
    background-color: var(--green);
    border-radius: 8px;
}
nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 30px;
}
nav li a {
    font-size: var(--md);
    color: var(--light);
    text-decoration: none;
    margin: 5px;
    padding: 2px 8px 2px 8px;
    border-radius: 8px;
}
nav li a:hover {
    color: var(--yellow);
    border: 1px solid var(--yellow);    
}
/* Main */
main { 
    background-color: var(--light-yellow);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 8px;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
/* Second row */
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section a {
    text-decoration: none;
}
.row-two article {
    font-size: var(--sm);
    text-align: center;
    box-shadow: 0px 4px 8px 0px #37474f;
    border-radius: 8px;
    margin: 0.5rem;
    padding: 8px;
    position: relative;
    overflow: hidden;
}
.row-two article:hover{
    box-shadow: 4px 4px 8px 4px var(--green);
}
.back-img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #cccccc; 
    height: 10rem; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
.row-two article h2 {
    color: var(--green);
    padding-top: 9rem;
    margin-bottom: 0;
}
.row-two article p {
    color: black;
}
.res-menu div {
    background-image: url("https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.book div {
    background-image: url("https://images.pexels.com/photos/4087621/pexels-photo-4087621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.about div {
    background-image: url("https://images.pexels.com/photos/735869/pexels-photo-735869.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
footer {
    display: flex;
}

footer div {
    flex: 1;
}
footer div img {
    max-width: 40px;
}